/**CSS**/
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html {
    background-color: rgb(29, 37, 37);
    background-size: cover;
    font-family: monospace;
}   
main {
    flex: 1;
}
header {
    background-color: rgba(37, 42, 59, 0.5);
    color: #E5E7EB;
}
footer {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    background-color: #1F2937;
    color: #E5E7EB;
}
/**Classes and values **/
/**top content**/
.header-index {
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
}
.main-header {
    padding-top: 2.5rem;
    font-size: 2.5rem;
    font-weight: bolder #F9FAF8;
}
.header-description, a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #E5E7EB;
}
.header-description {
    margin-top: 2.5rem;
}
/**main content**/
.photo-boxes {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}
.pic {
    max-width: 50%;
    min-width: 4rem;
    min-height: auto;
    height: 20rem;
}
.pic-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.text {
    text-align: center;
    font-size: 1.5rem;
    color: #cbcdd1;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(37, 42, 59, 0.5);
    color: #E5E7EB;
    font-size: 2rem;
    font-weight: lighter; 
    padding-top: 2rem;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}
