body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: #1F2937;
    color: #E5E7EB;
    
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}

.main-header {
    font-size: 48px;
    font-weight: bolder #F9FAF8;
}

.header-description, a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.top-btn {
    background-color: #b32a85 ;
    color: #33be89;
    border-radius: 5px;
    border: 2px #0099CC;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 35px;
    margin: 50px 0px;
}

.info-header2 {
    font-size: 36px;
    font-weight: bolder #1F2937;
}

.content {
    background-color: #E5E7EB;
    font-size: 36px #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.responsive {
    width: 600px;
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.header-index {
    display: flex;
    justify-content: center;
    padding: 30px 100px;
    gap: 50px;
}

.logo, .links {
    padding-bottom: 100px;
}

.info-header2 {
    text-align: center;
    padding: 30px;
}

.photo-boxes {
    display: flex;
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

.pic {
    max-width: 100%;
    min-width: 200px;
    min-height: auto;
    height: 200px;
}

.pic-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.text {
    text-align: center;
}

.content {
    background-color: #243f3d;
    color: #E5E7EB;
    font-size: 24px;
    text-align: center;
    padding: 50px 400px;
}

.blue-box {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 50px 600px;
    border-radius: 5px;
    background-color: #bac0cf;
}


.bottom-btn {
    background-color: #b32a85 ;
    color: #33be89;
    border-radius: 5px;
    border: 2px #0099CC;
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 35px;
    
}

footer {
    text-align: center;
    padding: 40px 100px;

}